/* You can add global styles to this file, and also import other style files */
body {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}

.layout {
  display: flex;
  height: 100vh;
  padding: 5rem 0;
}
